@using FarmsToFeedUs.Shared 
@page "/fetchdata"
@inject HttpClient Http

<h1>Farms</h1>

@if (farms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Town</th>
                <th>County</th>
                <th>Postcode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var farm in farms)
            {
                <tr>
                    <td>@farm.Name</td>
                    <td>@farm.Town</td>
                    <td>@farm.County</td>
                    <td>@farm.Postcode</td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    private List<FarmModel> farms;

    protected override async Task OnInitializedAsync()
    {
        farms = await Http.GetFromJsonAsync<List<FarmModel>>("farms");
    }
}
